APP_ROOT=/opt/super-arr-stack
DATA_ROOT=/data
TZ=America/Chicago
PUID=1000
PGID=1000

LAN_NETWORK=192.168.1.0/24

PIA_USER=your_pia_username
PIA_PASSWORD=your_pia_password
VPN_TYPE=wireguard
VPN_REGIONS=Mexico,Panama,US Florida,Netherlands,Switzerland,Sweden
VPN_PORT_FORWARDING=on

QBIT_WEBUI_PORT=8090
QBIT_TORRENT_PORT=6881
PROWLARR_PORT=9696
SONARR_PORT=8989
RADARR_PORT=7878
LIDARR_PORT=8686
FILEBROWSER_PORT=9898
SABNZBD_PORT=8080
BAZARR_PORT=6767
READARR_PORT=8787
DOZZLE_AGENT_PORT=7007

COMPOSE_PROFILES=
