[Unit]
Description=Rotate Super Arr Stack VPN region monthly

[Timer]
OnCalendar=monthly
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
